@model Loboteca1.Models.AdministradorModel

@{
    ViewData["Title"] = "Crear Nuevo Administrador";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="apellido_paterno" class="control-label"></label>
        <input asp-for="apellido_paterno" class="form-control" />
        <span asp-validation-for="apellido_paterno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="apellido_materno" class="control-label"></label>
        <input asp-for="apellido_materno" class="form-control" />
        <span asp-validation-for="apellido_materno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="numero_de_empleado" class="control-label"></label>
        <input asp-for="numero_de_empleado" class="form-control" />
        <span asp-validation-for="numero_de_empleado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="fecha_de_inicio" class="control-label"></label>
        <input asp-for="fecha_de_inicio" type="date" class="form-control" />
        <span asp-validation-for="fecha_de_inicio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="fecha_de_termino" class="control-label"></label>
        <input asp-for="fecha_de_termino" type="date" class="form-control" />
        <span asp-validation-for="fecha_de_termino" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
</div>
