/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.navbar h2 {
    text-align: center;
    color: #781c2e;
    margin-bottom: 20px;
}

/* Barra de navegación */
.navbar2 {
    background-color: #781c2e;
    padding: 30px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .navbar2 h1 {
        color: white;
        text-align: center;
        margin: 0;
        margin-left: 1.5cm;
    }

.logo-left {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 3px;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.account-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 16px;
}

    .account-right li {
        margin: 0 20px;
        display: flex;
        align-items: center;
    }

        .account-right li img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .account-right li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            display: inline-block;
            text-align: center;
        }

            .account-right li a:hover {
                background-color: #D291BC;
                border-radius: 5px;
                padding: 5px;
            }




/* Contenedor de la tabla */
.table-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        background-color: #781c2e;
        color: white;
        padding: 10px;
        text-align: left;
    }

    .table td {
        padding: 10px;
        border: 1px solid #ccc;
    }

.table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones */
.btn-crear {
    background-color: #781c2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

    .btn-crear:hover {
        background-color: #993333;
    }

.btn-warning, .btn-danger {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-warning {
    background-color: #ffcc00;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-warning:hover {
    background-color: #ffbb33;
}

.btn-danger:hover {
    background-color: #c9302c;
}

/* Pie de página */
footer {
    background-color: #781c2e;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed; /* Fija el pie de página */
    bottom: 0; /* Asegura que se quede en la parte inferior */
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
}

    footer p {
        margin: 10px 0;
    }

.social-icons {
    margin-top: 10px;
}

    .social-icons a img {
        width: 30px;
        margin: 0 10px;
    }

        .social-icons a img:hover {
            opacity: 0.7;
        }
