/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


/* Barra de navegación */
.navbar {
    background-color: #781c2e;
    padding: 40px;
    text-align: center;
}


/* Barra de navegación */
.navbar2 {
    padding-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.navbar2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

    .navbar2 ul li {
        margin: 0 20px;
        display: flex;
        align-items: center;
        position: relative; /* Añadir esta línea */
    }

.navbar2 ul li img {
    width: 50px; /* Tamaño uniforme para todos los íconos */
    height: 50px;
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
    margin-right: 25px;
}

.navbar2 ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 35px;
}

    .navbar2 ul li a:hover {
        background-color: #d2c1c1;
        border-radius: 5px;
    }

    .navbar2 ul .submenu {
        display: none; /* Asegúrate de que esté oculto por defecto */
    }

/* Submenú oculto por defecto */
.submenu {
    display: none;
    position: absolute;
    top: 100%; /*Desplázalo justo debajo del contenedor relativo */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    white-space: nowrap;
}

.navbar2 ul.submenu.show {
    display: block; /* Solo se mostrará cuando tenga la clase 'show' */
}


.submenu li {
    margin-bottom: 10px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
}

.submenu li a:hover {
    color: #993333;
}

/* Sección principal */
.main-section {
    padding: 40px;
    text-align: center;
    min-height: calc(100vh - 160px); /* Asegura que la sección principal ocupe toda la ventana, menos el espacio del header y footer */
}

.sanciones-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
}

    .sanciones-table th, .sanciones-table td {
        border: 1px solid #781c2e;
        padding: 10px;
        text-align: center;
    }

    .sanciones-table th {
        background-color: #781c2e;
        color: white;
    }

.advertencia {
    color: red;
    font-size: 16px;
    margin-top: 20px;
}

/* Pie de página */
footer {
    background-color: #781c2e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative; /* Añade una posición relativa */
    bottom: 5cm; /* Mueve el pie de página 5 cm hacia arriba */
}

